[2021-05-24 15:37] datadavev opened #1 "Wireframe design for record view"

[2021-05-24 16:53] datadavev opened #2 "Enable paging of web view"
The tabulator component uses Ajax to retrieve data pages.

Determine what changes are needed to the server API to support the Tabulator page retrieval.

[2021-05-24 18:40] datadavev opened #3 "Add `last_page` parameter to `thing` list response"
Required for tabulator:

http://tabulator.info/docs/4.9/data#ajax-progressive

[2021-05-25 00:05] qgan7125 commented on #2
When we use the tabulator to load the data, if there is a huge amount of data, the web needs to take several seconds to load the entire data. So, we need to use the tabulator progressive ajax loading (ajaxProgressiveLoad: "scroll") to initially load enough data into the table. Then, when the user scrolls down, more data will be loaded.

In order to use "ajaxProgressiveLoad: 'scroll'", the data fro

[2021-05-25 16:28] datadavev opened #4 "Add prototype implementation to github"

[2021-05-25 16:28] datadavev opened #5 "Add prototype design to github"

[2021-05-25 16:29] datadavev opened #6 "Add columns to `/thing/` view"
- `resolved_url`
- `authority_id`
- `resolve_elapsed`

[2021-05-25 16:31] datadavev opened #7 "Render additional columns in prototype view"
Depends on #6

Add additional columns to the record view table when available from the service.

Columns available include:
[code]

Example, https://mars.cyverse.org/thing/?offset=0&limit=10&status=200:
[code]

[2021-05-25 17:31] #6 closed

[2021-05-25 19:44] qgan7125 opened #8 "Add total_records parameter to thing list response"

[2021-05-26 15:38] datadavev opened #9 "Incorrect request parameters being sent by record viewer"
The supported request parameters are listed on the API documentation page: https://mars.cyverse.org/docs

[2021-05-26 15:39] datadavev opened #10 "Enable access to design documents"
The AdobeXD materials are not shared

[2021-05-27 16:08] qgan7125 opened #11 "Ajaxfiltering and AjaxSorting"
For the server-side, I don't think the server handles the filters and sorters parameters in the query parameter in the tabulator request. So the tabulator could not use filtering and sorting on the server-side. The UI implementation could just use them locally.

One question: Why the APi (https://mars.cyverse.org/thing/?offset=0&limit=1000&status=200) always return the different data every time th

[2021-06-01 15:08] datadavev commented on #11
Filtering can be added to the server. Document the request and expected response.

The API had a bug that prevented consistent sorting of the responses. It is corrected now.

[2021-06-01 15:10] #2 closed

[2021-06-01 15:17] datadavev opened #12 "record preview paging incorrect parameters"
The record preview UI is sending incorrect parameters to the API.

For example, the initial page request is:
[code]
There are two `offset` and `limit` params in the request. `key1` and `keys` are not supported by the API.

If the `offset=1` value is meant to be the first page, it is incorrect. The offset of the first record is 0.

The second page is retrieved with:
[code]
It has the same issues as

[2021-06-01 15:19] datadavev commented on #2
Paging is implemented, though see #12 for a bug in page requests

[2021-06-01 15:20] #10 closed

[2021-06-01 15:20] #8 closed

[2021-06-01 15:20] #7 closed

[2021-06-01 15:21] datadavev commented on #7
Looks good

[2021-06-01 15:21] #3 closed

[2021-06-01 15:23] #5 closed

[2021-06-01 16:13] qgan7125 opened #13 "Filter and Sorter"
When js sets filter and sorter, the tabulator will automatically add the "filters" and "sorters" parameters in the request. For right now, we need to handle "filters" parameter.

In the filters parameter, there are three parameters:
1) "field", the columns needed to filter, ex "id"
2) "type", the comparison types, ex "like"
3) "value", the value to be compared, ex "IGSN:IE22301MW"

[2021-06-02 17:54] qgan7125 opened #14 "Github authentication and Post issues"
Figure out how to authenticate a user on iSamples UI into github, so the bug report the user generates can pass github authentication process and be posted in github.

[2021-06-02 20:09] qgan7125 commented on #14
https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps#redirect-urls
Github Oauth app documentation

[2021-06-02 22:51] dannymandel opened #15 "Integrate Metadata work into iSB repo"
Take the work that was done in https://github.com/isamplesorg/metadata/issues/17 and integrate into the iSB api.  Per discussion with @datadavev, we have settled on the following:

* add it as an option to `/thing/{identifier}`
* `format=full | core | original`

[2021-06-02 23:12] qgan7125 opened #17 "Create an issue by github api"
test

[2021-06-02 23:12] #17 closed

[2021-06-08 15:44] dannymandel commented on #15
This was merged/deployed last Friday.

[2021-06-08 15:44] #15 closed

[2021-06-16 20:57] dannymandel opened #23 "Solr import"
We need to import our processed iSamples Core Metadata into a solr index.

[2021-06-16 21:00] dannymandel opened #24 "Parse dates appropriately for solr import"
Currently, all we are doing is this:

[code]

We should gather a list of known formats and make sure we configure dateparser with the appropriate options.

[2021-06-16 21:00] dannymandel commented on #23
Subtask: https://github.com/isamplesorg/isamples_inabox/issues/24

[2021-06-22 22:29] dannymandel commented on #24
Date formats that we will now handle appropriately:

[code]

[2021-06-23 20:26] dannymandel commented on #24
Closing this one since we have unit tests for all these now and they appear to work.

[2021-06-23 20:26] #24 closed

[2021-06-23 20:28] dannymandel commented on #23
This appears to be working and was merged in https://github.com/isamplesorg/isamples_inabox/pull/25

[2021-06-23 20:28] #23 closed

[2021-06-23 23:17] dannymandel opened #26 "Missing a few hundred records in solr index"
Looks like we're a few hundred records short in the solr index:

db:
[code]

solr:
[code]

[2021-07-01 00:06] dannymandel opened #27 "GEOME records in Solr"
We need to import the GEOME iSamples Core records into the Solr search index.

[2021-07-01 00:19] dannymandel opened #29 "Need to manually commit solr after every run"
When importing the isb core records, I'm needing to manually commit to get them to show up:

[code]

We should figure out why this is required because in theory we're already doing a commit at the end with this code:

[code]

which does

[code]

which appears to be the same thing.

[2021-07-01 00:20] dannymandel opened #30 "Add GEOME children to the solr relations core"
Quoting @datadavev

[2021-07-02 22:51] dannymandel commented on #27
This one is merged and done.

[2021-07-02 22:51] #27 closed

[2021-07-03 15:14] dannymandel opened #31 "Duplicate copy fields in solr"
[code]

Results in

[code]

`curl http://localhost:8983/solr/isb_core_records/schema`

[2021-07-06 16:40] dannymandel commented on #26
This actually ends up having a pretty reasonable explanation.  For solr, we use the value of `sampleidentifier` in the iSample Core Metadata record as the id field.  In the case of SESAR, that's this:

[code]

In looking at the database, we see the following:

[code]

vs. all the records:

[code]

so the number of records in the solr instance is equal to the number of distinct IGSN values in the d

[2021-07-06 20:14] dannymandel commented on #31
[code]

Manually executed and fixed.

[2021-07-06 20:14] #31 closed

[2021-07-06 20:19] dannymandel commented on #30
I wonder if this might already be done?

[code]

[2021-07-06 20:33] dannymandel commented on #30
@datadavev could you either close this one if its done or tell me what we want to do differently compared to what we've already done?  Thanks.

[2021-07-06 21:01] datadavev commented on #30
Implemented in https://github.com/isamplesorg/isamples_inabox/blob/main/scripts/geome_things.py and https://github.com/isamplesorg/isamples_inabox/blob/main/isb_lib/geome_adapter.py

[2021-07-06 21:01] #30 closed

[2021-07-06 23:36] dannymandel commented on #26
Per discussion with @datadavev this is because there are a couple hundred or so records that failed to be retrieved from SESAR.  So, they have a record in thing, but they have no associated `resolved_content` so they won't get added to Solr.

[2021-07-06 23:36] dannymandel commented on #26
[code]

[2021-07-06 23:37] dannymandel commented on #26
So, I'm not sure there's anything to do here -- at least not on the solr side.  If anything, we could investigate why records weren't resolved from SESAR, but this might be expected.  What do you think @datadavev?

[2021-07-06 23:39] dannymandel opened #32 "Need to import OpenContext records into things"
We need to write `opencontext_things.py` and `opencontext_adapter.py`.

[2021-07-07 11:20] datadavev opened #33 "Retry access to failed record downloads"
Occasional errors are encountered while retrieving records from collections. For example a recent harvest of SESAR resulted in some 253 records that were reported in the sitemap but failed to download.

Task here is to:

- Implement mechanism to report number of entries with failed vs good status
- Implement mechanism to retry retrieval of records with a failed status.

These could be added as opt

[2021-07-07 11:21] datadavev commented on #26
Nothing to do here except support reloading failed retrieval attempts. See #33

[2021-07-07 11:21] #26 closed

[2021-07-23 20:56] dannymandel commented on #32
This one is done!

[2021-07-23 20:56] #32 closed

[2021-07-23 20:58] dannymandel opened #37 "Need to import Smithsonian records into Things"
We need to import the Smithsonian records into things.  They are available to download as a Darwin Core archive at https://collections.nmnh.si.edu/ipt/resource?r=nmnh_material_sample by clicking on the DwC-A image.

[2021-07-27 17:41] dannymandel opened #38 "Set up the ML model as an RpyC service"
In order to invoke the ML model performantly, we should set up the ML model as an RpyC service so we don't need to pay the model startup cost on every request (currently observed to be 150-250ms).

https://rpyc.readthedocs.io/en/latest/

Example implementation here:

https://github.com/datadavev/sonormal/blob/main/jenql/__init__.py

[2021-07-30 20:58] dannymandel opened #39 "pydantic + FastApi unhappy with resolve_elapsed default value of None"
pydantic + FastApi is validating that the resolve_elapsed value in THING has a value, and we don't have one assigned for OpenContext or Smithsonian.

[2021-07-30 20:59] dannymandel commented on #39
500 error on mars -- on investigation the reported error is

[code]

[2021-07-31 00:19] #39 closed

[2021-08-03 16:29] dannymandel opened #41 "Not able to retrieve OpenContext records using the Mars API"
I forgot to add the lines of code that allow you to request OpenContext records via the things API.

[2021-08-03 16:59] dannymandel commented on #41
This pushed out to mars.

[2021-08-03 16:59] #41 closed

[2021-08-06 17:13] dannymandel opened #45 "More advanced spatial search"
We should adopt more advanced spatial features that are integrated into Solr.

[2021-08-06 17:14] dannymandel commented on #45
Implemented in above pull request/commit.

[2021-08-06 17:14] #45 closed

[2021-08-10 12:29] datadavev opened #46 "Add endpoint to isb_web for retrieving heatmap as GeoJSON"
Implement an API endpoint to enable creation of a GeoJSON FeatureCollection from a Solr heatmap request.

This would enable rendering by a GeoJSON client such as Leaflet or a desktop mapping application such as QGIS.

Content type of the response should be `application/geo+json`

A proof of concept Solr Heatmap to GeoJSON is available at: https://gist.github.com/datadavev/afae5086f29728866d4c169d2

[2021-08-10 13:39] datadavev opened #47 "Add endpoint to isb_web for retrieving heatmap as leaflet data"
An alternative to #46 that may be preferred in some cases is to render the heatmap using a series of translucent circles as per the [Leaflet "heat" plugin](https://github.com/Leaflet/Leaflet.heat). This layer takes as input a list of points with values.

The Solr heatmap output can be used for this by computing the center of each grid cell as the location of a data point, and using the count value

[2021-08-10 15:19] dannymandel commented on #38
We may not end up needing this -- the model is running in isb right now and we have noticed no adverse effects.

[2021-08-10 15:20] dannymandel commented on #37
This one is done.

[2021-08-10 15:20] #37 closed

[2021-08-13 16:03] dannymandel opened #50 "Need to add timestamp to all solr records"
We should add a timestamp to all solr records so we may easily do partial index updates.

[2021-08-13 16:03] dannymandel commented on #50
This timestamp should be the timestamp from the original collection, not the timestamp we updated into our index.

[2021-08-24 18:52] dannymandel commented on #50
This one is done.

[2021-08-24 18:52] #50 closed

[2021-08-24 19:12] dannymandel opened #52 "Consolidate identifiers amongst providers and in between Things db and Solr index"
We have a few different representations of identifiers in two different places, the Things table, and the Solr index.  They are inconsistent between providers and between the database and Solr index.  We should clean this up.  We want the id column in the Things db and the id column in the Solr schema to be the same thing.

The following are the values we want to use:

-- For SESAR, use the IGSN a

[2021-08-24 19:22] datadavev opened #53 "identifiers for OpenContext records"
When retrieving records from the Open Context service we get records like:

[code]

Each entry we record in iSamples has a unique identifier that may be used retrieving that specific record and also for recording / discovering relationships between things.

We are currently using the value of the `uri` property for this, though that seems to be an internal identifier that may not be broadly used.

[2021-08-24 19:22] datadavev commented on #52
See also #53

[2021-08-25 19:24] datadavev opened #57 "Implement identifier normalization as a shared lib"
Identifier comparison should be done with the normalized form to ensure consistent results.

For example, the identifiers `ark:/1234/a-b-c-d` and `ark:/1234/abcd` are [technically equivalent](https://datatracker.ietf.org/doc/html/draft-kunze-ark-27#section-2.7). Similarly, identifiers embedded in URLs are convenient for users, though must be extracted and normalized for programmatic comparison. Th

[2021-08-27 13:42] datadavev opened #58 "Can't instantiate abstract class GEOMETransformer with abstract method last_updated_time"
For example:

https://mars.cyverse.org/thing/ark%3A%2F21547%2FVw2SIMamm_P07_B06_584570?format=core

This could probably be resolved by moving the `last_updated_time` method from `GEOMEChildTransformer` to `GEOMETransformer` or adding the method to `GEOMETransformer`.

The error on isb_web is:
[code]

[2021-08-27 20:16] #58 closed, assigned to dannymandel

[2021-08-31 18:21] dannymandel commented on #52
Merged and fixed the remaining issues.  Going to close this one out.

[2021-08-31 18:21] #52 closed

[2021-08-31 20:50] dannymandel opened #60 "Failing tests in test_sesar.py"
As part of turning on the PR tests, I noticed that `test_sesar.py` was no longer compiling due to a rename.  I fixed that, but then went to run the tests and they all failed.  I marked them as `@pytest.mark.xfail` so they wouldn't break the build, but is there any value in keeping them or should we just delete the file?

[2021-09-01 17:20] datadavev commented on #60
Those tests aren't very useful, especially as unit tests. OK to delete.

[2021-09-01 23:52] dannymandel commented on #60
Deleted them.

[2021-09-01 23:52] #60 closed

[2021-09-01 23:52] dannymandel commented on #47
This is pushed out to mars and powering the map view.  Closing.

[2021-09-01 23:52] #47 closed

[2021-09-21 20:27] dannymandel opened #65 "Bug when running heatmap code against empty db"
In the process of bringing up the iSB Docker container, I noticed that we run into a 500 error when running the heatmaps against an empty index.  Probably not likely in practice, but we should fix it:

[code]

[2021-09-21 23:28] dannymandel opened #66 "Adopt GEOME API that will let us only import recently modified records"
Per discussion with @jdeck88, GEOME has an API that should let us get only recently modified records.

We should investigate how we can switch over to this API in lieu of the one we're using now.

[2021-09-21 23:30] dannymandel opened #67 "Implement record hashing so we can do partial updates of Smithsonian records"
Given that Smithsonian gives us a full dump of their records via Darwin Core, we should implement some kind of hashing so that we may easily maintain last_modified_dates to support partial re-indexing.

[2021-09-21 23:35] dannymandel opened #68 "iSamples API missing child Thing records, while they're available in Solr"
Per discussion with @datadavev:

This is because we are generating core records for sub-records, which is what was intended, but causes a situation where the identifier in solr can’t be used to get the record from the database using the API.

For example, the GEOME record ark:/21547/CYR2envbio08_98 is in solr and can be access via the API at thing/ark:/21547/CYR2envbio08_98. However the child of t

[2021-09-21 23:40] dannymandel opened #69 "Run all the things in Docker"
We want to run and deploy everything in a Docker container.  Make the necessary changes to get this working.

[2021-09-22 23:15] #69 closed

[2021-09-29 21:16] dannymandel opened #71 "GEOME records that can't be retrieved"
In doing the work to update to the GEOME Expeditions API, we observed that a number of ARKs lead to broken record detail pages.  After running through all the updates, it looks like they're all from one project:

[code]

There are 119 identifiers in this bucket -- effectively leading nowhere.  Attaching to this issue so that we may get confirmation we are using the API correctly, and/or receive in

[2021-09-29 22:54] dannymandel opened #72 "GEOME partial solr index updates"
To properly do partial solr index updates for GEOME, we need to change the way the modified date is plumbed through.  The existing code assumes that we are able to infer the last modified date via the source JSON document via

[code]

an example implementation from OpenContext is

[code]

this then writes to the solr document as coreMetadata["sourceUpdatedTime"] = datetimeToSolrStr(date_time).  We

[2021-09-29 22:55] dannymandel commented on #72
While doing this work, we should also do a sanity check on the last modified date in the GEOME records -- I noticed some previously futuristic dates that I manually updated by hand when I ran the partial import today, for instance.

[2021-09-29 23:25] jdeck88 commented on #71
i fixed this project...... go ahead and try it again.  will leave the issue open until @dannymandel verifies it works... if it does, go ahead and close it!

[2021-09-29 23:41] dannymandel commented on #68
Here's one example

[code]

[2021-09-29 23:45] dannymandel commented on #68
Which ends up with this in Solr (using the query id:"ark:/21547/mx2CMU_161"):

[code]

But if you look for the parent id: `ark:/21547/BIE2391b18d0c39141193a2379f36b77e539`, we don't find it.  If you look for the child `id:"ark:/21547/BIF2CMU_161"`, we get this:

[code]

[2021-09-29 23:46] dannymandel commented on #68
However, if you look for the parent, you can see it's there in the core record here: ` "producedBy_isb_core_id":"ark:/21547/BIE2391b18d0c39141193a2379f36b77e539"`

[2021-09-29 23:54] dannymandel commented on #68
On the Solr side, we end up with 2 records:
(1) melding the parent (sampling event) and main record (you can see the main record pointing to the parent sampling event in `"producedBy_isb_core_id":"ark:/21547/BIE2391b18d0c39141193a2379f36b77e539"`)
(2) the child subsample record pointing back to the main record (you can see the child pointer back to main record in `"relatedResource_isb_core_id":["a

[2021-09-29 23:55] dannymandel commented on #68
Other collections should be reviewed as well, but kicking off the discussion for GEOME here.

[2021-10-01 15:40] dannymandel commented on #71
Nice!  I can definitely hit this URL: https://api.geome-db.org/v1/records/ark:/21547/DPm2A_SAI_17_00025?includeParent=true&includeChildren=true
and that didn't work before.

I'll run a one-off job after the tech call this morning to make sure everything looks good.  Thanks @jdeck88!

[2021-10-01 17:25] dannymandel commented on #71
Confirmed it's fixed.  They've been ingested into our Things db.

[2021-10-01 17:25] #71 closed, assigned to datadavev, jdeck88

[2021-10-01 20:43] dannymandel commented on #68
I think it would be helpful using the record above to break down the use cases and the expected outcomes.

Identifier | Record type | Output of searching Things | Output of searching Solr | How to implement
------------ | ------------- | ------------- | ------------- | -------------
ark:/21547/mx2CMU_161 | Sample | Full record, with pointers in both directions | Full record, with pointers in both

[2021-10-01 21:06] dannymandel commented on #68
In looking at the requirements for the child solr record, I do think we need the full JSON, because the child metadata record is really a blend of sample, tissue, and event.

In looking at the requirements for the event record (if we wanted to have a pointer to the sample), we'd need to store the ARK for the sample somewhere in the event JSON.  I wonder if it makes sense to break out the JSON to i

[2021-10-05 18:20] dannymandel commented on #68
Per discussion with @datadavev -- the official plan of record is to revive the `Relation` table.  For GEOME, we'll have the following tuples
[code]

We'll also record alternate OpenContext IDs in this manner, with:

[code]

There are a few pieces involved in this change:

1. Convert the Relation model to SQLModel and verify it works
2. Backport the existing Things schema to the new model by iterat

[2021-10-05 19:31] datadavev commented on #68
After some further consideration, it seems there are two types of functionality needed:

1. Given a globally unique identifier (GUID), return the corresponding record that was retrieved from the source collection.
2. Given an GUID (and possibly a relation type), return GUIDs for related things (and possibly the corresponding records).

Although (1) is similar to (2), the key difference is that (1)

[2021-10-05 22:39] dannymandel commented on #68
Per discussion over Slack, there's some complexity here.  It looks like the GEOME parent event is present for multiple GEOME samples.  This parent event: `"bcid": "ark:/21547/Duf242514eacdfe6ca78a925008f7c003082"`
is present for Samples `"bcid": "ark:/21547/Due2SERCFISH0206"` and `"bcid": "ark:/21547/Due2SERCFISH0208"`.  So if you  were to ask for a Thing with id `Duf242514eacdfe6ca78a925008f7c003

[2021-10-19 15:09] #1 closed

[2021-10-19 15:11] datadavev commented on #11
Implemented with connection to solr

[2021-10-19 15:11] #11 closed

[2021-10-19 15:12] datadavev commented on #13
Fixed with use of solr for backend

[2021-10-19 15:13] datadavev commented on #14
Options here include using GH PAT with local browser storage, which may be better for technical work. Certainly lighter weight than full OAuth workflow.

[2021-10-19 16:03] datadavev opened #74 "Update Solr record for OpenContext to use id consistent with postgres records"

[2021-10-19 16:16] datadavev commented on #33
Probably need to resolve this with a complete scan of content every now and then.

[2021-10-19 17:44] dannymandel commented on #72
The value is now populated in the transformer, we just need to wire it in to the Things script.  I think this will just be a couple lines of code.

[2021-10-19 17:47] dannymandel commented on #72
So, this is legitimately not complete.

[2021-10-19 17:51] dannymandel commented on #68
The work here was implemented in a number of different pull requests, including

https://github.com/isamplesorg/metadata/pull/77
https://github.com/isamplesorg/isamples_inabox/pull/73

The core issue is fixed.

[2021-10-19 17:52] dannymandel commented on #68
Closing.

[2021-10-19 17:52] #68 closed

[2021-10-19 17:53] dannymandel commented on #66
Not sure why this one didn't close when it was linked to https://github.com/isamplesorg/isamples_inabox/pull/70 which is definitely closed.  But this is complete.

[2021-10-19 21:41] dannymandel commented on #53
The remaining work here can be tracked by https://github.com/isamplesorg/isamples_inabox/issues/74

[2021-10-19 23:12] dannymandel commented on #74
Closing as it's fixed on Mars.

[2021-10-19 23:12] #74 closed, assigned to dannymandel

[2021-10-19 23:13] dannymandel commented on #53
Closing this as we've settled on using ARK as the main id.

[2021-10-20 15:36] datadavev opened #77 "Generate sitemap for content"
sitemap.xml documents provide an index to content available on a site and can include properties such as timestamps and content type information for each location advertised.

Implement a mechanism to generate a set of sitemaps (there are limits to the site of a sitemap) based on the current content available. The target content is the iSamples core records.

[2021-10-20 15:40] datadavev opened #78 "Generate an sqlite dump of records"
sqlite is a single file relational database that provides a convenient mechanism for sharing data.

Prototype generation of an sqlite database that contains the isample core record representation. Schema for the database may initially follow the things structure, though will likely be more normalized for efficiency.

[2021-10-20 17:51] dannymandel commented on #77
Reference material: https://www.sitemaps.org/protocol.html#index
Python Implementation: https://github.com/Haikson/sitemap-generator

[2021-10-22 16:49] dannymandel opened #80 "Expose OpenContext relationships between entities"
Currently, we fetch OpenContext records like this:

https://opencontext.org/subjects-search/.json?add-attribute-uris=1&attributes=obo-foodon-00001303%2Coc-zoo-has-anat-id%2Ccidoc-crm-p2-has-type%2Ccidoc-crm-p45-consists-of%2Ccidoc-crm-p49i-is-former-or-current-keeper-of%2Ccidoc-crm-p55-has-current-location%2Cdc-terms-temporal%2Cdc-terms-creator%2Cdc-terms-contributor&prop=oc-gen-cat-sample-col%7C%

[2021-10-22 16:49] dannymandel commented on #80
Assigned to @ekansa to provide further instruction once this is available.

[2021-10-25 12:56] datadavev opened #82 "Add text "bucket" field for general search"
A common use case for search is looking for a term that appears somewhere in a record (google-ish search).

This is best facilitated by bundling text from various fields into a single field, probably simplest to use copy field operations for this. Field type may be `text_general` or perhaps `text_en`.

[2021-10-25 13:52] datadavev opened #83 "Add latitude and longitude floating point fields to solr index"
Some discovery operations can leverage single values of latitude and longitude. Add two fields "latitude" and "longitude" using the `pdouble` type and populate with corresponding values or the centroid of bounding box if single point is not available.

[2021-10-26 16:07] dannymandel opened #84 "Need to handle some mechanism for deletion or content hiding"
Right now, we are not supporting deletion or content hiding.  We need to support this and then find a way to propagate to downstream consumers e.g. iSB -> iSC.

[2021-10-26 16:09] dannymandel commented on #72
This is done now.

[2021-10-26 16:09] #72 closed, assigned to dannymandel

[2021-10-26 16:23] dannymandel opened #85 "Move metadata repo code into iSB"
We should move all the python code in the metadata repo into the iSB repo.

[2021-10-27 15:58] dannymandel opened #86 "Include authority_id in core record"
Right now we don't include the authority in the core record.  We should.

[2021-10-27 23:48] dannymandel commented on #77
Merged and crontab installed on mars:

[code]

[2021-10-27 23:49] dannymandel commented on #77
Index available at https://mars.cyverse.org/sitemaps/sitemap-index.xml

[2021-10-27 23:49] #77 closed, assigned to dannymandel

[2021-10-29 15:53] dannymandel opened #89 "Make sitemap tester that resolves the sitemap"
We should set up a GitHub action that hits the sitemap URL and crawls it to verify all the URLs are resolvable.

[2021-10-29 17:41] datadavev commented on #82
Fields to include:

- source
- description
- label
- keywords
- informalClassification
- producedBy_label
- producedBy_description
- producedBy_hasFeatureOfInterest
- producedBy_responsibility
- producedBy_samplingSite_description
- producedBy_samplingSite_placeName
- producedBy_samplingSite_label
- registrant
- samplingPurpose
- curation_label
- curation_description
- curation_location

[2021-11-02 20:47] dannymandel opened #91 "Bug in OpenContext fetcher where we wipe the resolved_url"
There is a bug in the OpenContext updater that knocked out the `resolved_url` field causing one of the automated integration tests to fail.

[code]

In particular the `tresolved` is `2021-11-02 02:10:51.387673-07`, which is this morning, but the `resolved_url` is NULL.  This causes the integration test to fail as it is asserting on `resolved_url` being non-NULL.

[2021-11-02 20:59] dannymandel commented on #91
A couple questions:

(1) Why are we saving records that didn't change?  Can we not do that?
(2) Why are we tossing the resolved_url on the floor?

Here's the full log from the run this morning that broke it:

[code]

[2021-11-03 15:54] dannymandel opened #94 "Duplicate copy fields on solr save"
It looks like the copy fields are getting re-duplicated every time we save.  This ends up in multiple dupes.  We should fix the code to delete the copy fields on save and run a full reindex.

[2021-11-03 16:30] dannymandel commented on #82
Fixed by #90

[2021-11-03 16:30] #82 closed, assigned to dannymandel

[2021-11-03 16:30] dannymandel commented on #83
Fixed by #90

[2021-11-03 16:30] #83 closed, assigned to dannymandel

[2021-11-03 16:32] dannymandel commented on #29
As an aside, it seems like these commits are required more often than we thought, at least I ran into this when implementing a couple schema migration changes.

[2021-11-03 17:37] dannymandel commented on #89
Closed by #92

[2021-11-03 17:37] #89 closed, assigned to dannymandel

[2021-11-03 18:43] dannymandel commented on #85
Closed by #93

[2021-11-03 18:43] #85 closed, assigned to dannymandel

[2021-11-05 21:47] dannymandel commented on #91
Fixed by https://github.com/isamplesorg/isamples_inabox/pull/96

[2021-11-05 21:47] #91 closed, assigned to dannymandel

[2021-11-09 17:35] datadavev opened #97 "Expand stopwords for solr indexing"
We are currently using a standard set of stop words when indexing, which may be inadequate for helping narrow down searches.

The basic process might be like:

1. Generate a list of distinct terms for the searchText field and examine for candidate stopwords
2. Add to stopword list and re-index

[2021-11-09 17:38] datadavev opened #98 "Examine synonyms being used in solr indexing and adjust with input from other project participants"
Solr has an option for identifying synonyms for indexed terms to assist matching with queries that may not use the same exact terms.

We can likely leverage this capability to assist with indexing content, especially for similar concepts across the different types of collections.

This task is to learn more of how solr is using synonyms, and identify configuration changes to assist users with the

[2021-11-09 17:41] datadavev opened #99 "Summarize the text parsing being used in solr and the configuration options available"
There are many configurable options for the various fields being used in solr, especially the text fields.

The goal of this task is to summarize the types of text field that are currently in use, provide cross references to documentation, and review configuration options for possible changes that may further benefit discovery for the types of content being used in iSamples

[2021-11-09 17:44] datadavev opened #100 "Prepare test cases for verifying query performance"
We should have some tests that evaluate the discoverability of content, basically provide some measure of precision and recall for the discovery system so that we can measure if changes to search are impacting discoverability of content.

[2021-11-09 18:01] dannymandel commented on #98
Looks like the ones out of the box are pretty limited:

[code]

And the contents of that file are:

[code]

[2021-11-09 18:02] dannymandel commented on #98
Can get the config through the REST API:

http://localhost:8984/solr/isb_core_records/schema

Then get the default config out of there:

`cat /opt/solr/server/solr/configsets/_default/conf/synonyms.txt`

[2021-11-09 18:02] datadavev commented on #100
The "analyzer" portion of the indexing process (https://solr.apache.org/guide/8_10/analyzers.html) is one aspect that we should develop test cases for. There's a good description of analyzer evaluation in the docs: https://solr.apache.org/guide/8_10/running-your-analyzer.html

[2021-11-09 18:03] dannymandel commented on #97
Currently stop words are like so:

[code]

[2021-11-09 18:05] dannymandel commented on #97
We can see it configured by hitting

http://localhost:8984/solr/isb_core_records/schema

And seeing
…
[code]
…
[code]
…
[code]

[2021-11-09 19:06] dannymandel commented on #99
Looks like this is how our text field is currently configured:

[code]

[2021-11-09 21:36] dannymandel commented on #99
Upon further examination, we were actually using the `text_general` field type, which has the following config:

[code]

[2021-11-09 21:36] dannymandel commented on #99
So, the first change we should make is to switch over to `text_en`.

[2021-11-09 22:59] dannymandel commented on #99
The following is the list of the filter factories for `text_en`:

| Name | Config | Explanation of what it does | Recommended next steps |
| --- | --- | --- | --- |
| SynonymGraphFilterFactory | synonyms.txt | Generates synonyms at query time -- substituting words to search for | https://github.com/isamplesorg/isamples_inabox/issues/98 |
| StopFilterFactory | lang/stopwords_en.txt | Discards token

[2021-11-09 23:07] dannymandel commented on #99
Converted the field types on mars.cyverse.org, and a reindex is in process.

[2021-11-09 23:07] dannymandel commented on #99
Also, updated the index creation script: https://github.com/isamplesorg/isamples_inabox/pull/101

[2021-11-09 23:08] dannymandel commented on #99
General list of all the default options is here: https://solr.apache.org/guide/8_10/filter-descriptions.html

[2021-11-09 23:10] dannymandel commented on #97
As @datadavev mentioned, faceting the searchText field provides some obvious candidates: http://localhost:8984/solr/isb_core_records/select?facet.field=searchText&facet=on&q=*%3A*&rows=0

[2021-11-09 23:14] dannymandel commented on #97
here are a few that jump out:

[code]

[2021-11-09 23:33] dannymandel commented on #98
A few that show up in the search results when faceting http://localhost:8984/solr/isb_core_records/select?facet.field=searchText&facet=on&q=*%3A*&rows=0&facet=true:

[code]

[2021-11-10 15:53] dannymandel commented on #94
This one was fixed by https://github.com/isamplesorg/isamples_inabox/pull/95

[2021-11-10 15:53] #94 closed, assigned to dannymandel

[2021-11-10 15:54] dannymandel commented on #99
Post-reindex, the English stop words no longer show up in the facet query for `searchText`:

http://localhost:8984/solr/isb_core_records/select?facet.field=searchText&facet=on&q=*%3A*&rows=0&facet=true

[2021-11-10 15:55] dannymandel commented on #99
For reference, this is how you change the field type using the REST API:

[code]

[2021-11-10 15:56] dannymandel commented on #99
As far as I can tell, two big pieces that we aren't currently utilizing but could are:

(1) Phonetic matching -- not sure if it's worth exploring, this is more if we are trying to match spoken words to search results
(2) NLP integration -- details here: https://solr.apache.org/guide/7_3/language-analysis.html#opennlp-integration

[2021-11-10 18:42] dannymandel commented on #99
Note that when updating the config for the running collection, we need to update it in zookeeper.  Here's an example of one I changed to update the protected words file:

[code]

[2021-11-10 18:59] dannymandel opened #102 "Solr search issues"
Use this issue as a container for one-off search bugs

[2021-11-10 19:04] dannymandel commented on #102
First issue -- when searching for "Smithsonian", the first record returned is from GEOME:

[code]

It looks like the root issue on this one was that we had multiple copy fields copying into searchText, and it had this text: `"Maryland, Smithsonian Greenhouse"`.

[2021-11-10 19:15] dannymandel commented on #102
Next issue -- when search for the opencontext project "Excavations at Polis", it returns a bunch of SESAR records:
[code]
When digging into the SOLR debug query facility, it looks like the first word is weighted more heavily than those that follow.  So, since excavations appears in so many documents in our data, it is picking the SESAR ones:
[code]
Note that reversing the query to "Polis at Excava

[2021-11-11 00:08] dannymandel commented on #98
`sample` and `piece` end up getting converted to `sampl` and `piec` during stemming, so there doesn't seem to be much point to worrying about those.  (I wonder if whatever dumped out those values used some kind of stemming along the way!)

[2021-11-11 00:10] dannymandel commented on #98
Same with `geoname` -> `geonam` and `integrate` -> `integr`

[2021-12-01 14:27] datadavev opened #106 "Web server configuration for multiple iSB on one server"
Multiple iSB instance may be run on a single server as separate docker containers. Each exposes the web API through a different port, however it is desirable to access each through a standard port (443 for HTTPS).

This can be achieved with a reverse proxy service on the container host. There are basically two common patterns for this:

1. Use a virtual host per iSB instance. e.g. `sesar.isb.isamp

[2021-12-01 14:48] datadavev commented on #106
Option 1 requires DNS management for each virtual host as well as corresponding certificate management. Both are straight forward though (currently) require manual steps for management.

Option 2 can use a single DNS entry with corresponding certificate and can be managed in a single location in the web server config.

Suggest option 2 as the approach to take.

[2021-12-01 15:02] datadavev commented on #106
Web server choices include Apache and Nginx, with Nginx apparently more performant with large numbers of connections. Suggest using nginx as the web server.

Configuration will generally take the pattern:
[code]

[2021-12-01 15:23] datadavev commented on #106
Certificates re provided by letsencrypt. Setup:

[code]

[2021-12-07 18:44] dannymandel opened #108 "Scripts to consume iSB sitemaps and populate an iSC database and solr index"
For the iSB/iSC split, we'll need a set of scripts that run on iSC that pull data from the various iSB instances and populate the database and Solr index on iSC.

[2021-12-15 22:24] dannymandel opened #110 "Some Smithsonian records have source modified date in the future, will break iSC sync"
One examining the Smithsonian records by hand, we end up with this:

[code]

This will break the iSamples Central sitemap sync, as we'll look at the last date in the db and it will be greater than the last date in the sitemap (sitemap uses solr, which has a separate fix for this issue).  Once we get an automated import process in place for Smithsonian, we'll need to address this somehow.

[2021-12-22 18:21] dannymandel opened #112 "Possibility for deleted SESAR records"
In the process of spinning up iSamples Central, we noticed an odd record count for SESAR.  On investigation, it turns out that one of the samples from SESAR had been deleted.  These are the details:

[code]

on investigating the record in the db, it looks like this:

[code]

The deleted record JSON looks like this:

[code]

What should we do when we encounter a record like this?

[2022-01-05 22:23] dannymandel opened #113 "STAC support"
Adopt some portion of the STAC api described at https://github.com/radiantearth/stac-api-spec

[2022-01-12 00:05] dannymandel opened #115 "Enable flake8 linter"
We should adopt the flake8 linter and run it on every pull request.

[2022-01-12 00:05] dannymandel commented on #115
I've configured it in PyCharm locally like this:

<img width="946" alt="image" src="https://user-images.githubusercontent.com/1188978/149040726-ef890ea5-9fa4-4345-894d-e112833e3eb6.png">

[2022-01-12 22:46] dannymandel commented on #115
Done yesterday in https://github.com/isamplesorg/isamples_inabox/pull/116

[2022-01-12 22:46] #115 closed, assigned to dannymandel

[2022-01-12 22:47] dannymandel opened #118 "plausible.io analytics integration in API"
Implement some support for plausible.io analytics integration in our API

[2022-01-18 12:46] datadavev opened #120 "Refine controlled vocabulary mapping for each collection"

[2022-01-19 16:41] dannymandel commented on #118
This one is done

[2022-01-19 16:41] #118 closed, assigned to dannymandel

[2022-01-19 17:39] datadavev opened #122 "Add package.json and package-lock.json to GH"

[2022-01-19 17:41] datadavev opened #123 "Setup tooling for front end development"

[2022-01-19 17:49] datadavev commented on #122
This is for `isamples_webui/faceted_search`

[2022-01-29 00:07] #122 closed, assigned to qgan7125

[2022-02-10 00:09] dannymandel opened #126 "iSamples SESAR entries out of sync with data in SESAR"
We did a count comparison and there are a number of SESAR entries not present in iSamples.

[2022-02-11 16:53] dannymandel opened #128 "Summary page of counts by provider and histogram"
When working on SESAR, we noticed a discrepancy between iSamples and SESAR.  Right now there is no easy way to see how many records we have and when they were last updated.  Write something that does this.

At a minimum:
* Number of records by provider
* Last update date by provider

Nice to have:
* histogram of records updated by date

[2022-02-15 19:00] dannymandel opened #129 "Thin out python dependencies"
In the course of development it seems like our python environment has gotten a bit bloated, we should see how many of the things we are actually using and attempt to get rid of anything else.

[2022-02-15 21:37] dannymandel commented on #129
Fixed by linked PR

[2022-02-15 21:37] #129 closed, assigned to nobody

[2022-02-18 16:05] dannymandel opened #131 "SESAR update date not getting updated when data changes"
When discussing a recently updated SESAR record, @ramdeensarah said:

Feb 16, 2022 around 3:30 PM CT but looking at our system, it did not record the change the last_update_date, which is still listed as 2014-10-21 12:01:13.679042 (I manually changed it in the system. Not sure if I should have changed that date as well?).

Upon inspection of the record (https://api.geosamples.org/v1/sample/igsn-ev

[2022-02-18 16:28] dannymandel commented on #131
It looks like the date we examine in iSamples is actually the date of the record in the sitemap:

[code]

So if there was a compelling reason to leave the JSON-ld as-is, we could just ensure that the sitemap has the update timestamp and we would be good to go on the iSamples side.

[2022-02-18 16:50] ramdeensarah commented on #131
Curator (administrative changes) in records are typically minimal however there are some automated systems within SESAR that change records.  One example is our 'transfer ownership' tool which allows you to transfer a sample to another individual.

To check/confirm it does not capture the change in the date fields I registered a sample and transferring it to another account.  https://app.geosample

[2022-02-28 14:57] datadavev opened #136 "Implement data subset download capability."
It should be possible for a user to download a specified subset of the content in a format suitable for further analysis. There are some non-obvious aspects to this, e.g.:

- How to specify a subset
- Dealing with structured records (i.e. not a table of values)
- How much is too much to download
- Download formats to be supported
- Is retrieval asynchronous?

[2022-03-16 17:05] dannymandel opened #137 "Make a suitable max rows returned for solr"
Looked like solr crashed this morning due to an OOME.  We should probably enforce a max number of rows in the service.  Logs follow.

[2022-03-16 17:05] dannymandel commented on #137
[code]

[2022-03-16 17:06] dannymandel commented on #137
@qgan7125 reports that thing were working well with 50000 rows -- this crash looks unhappy with 500000, so we should probably pick a max somewhere between those two numbers.

[2022-03-16 17:25] datadavev commented on #137
We can configure solr circuit breakers for this, to return an error in the case of excess memory use:

https://solr.apache.org/guide/8_7/circuit-breakers.html#currently-supported-circuit-breakers

[2022-03-22 17:32] dannymandel opened #139 "End up with no sitemaps directory when we reboot the box"
When we reboot the boxes, we end up nuking the sitemaps directories.

[code]

We should map the sitemaps directories to persistent volumes on the host so they stick around after a reboot.

[2022-03-30 17:31] datadavev opened #142 "stream API should use `multi_items()`"
https://github.com/isamplesorg/isamples_inabox/blob/ba12e44d8a26825e5f68552ec01738e027234a08/isb_web/main.py#L362

In passing params to the stream request handler, should use `multi_items()` to ensure that duplicate key names are passed through. e.g. multiple `fq` parameters get dropped with the current implementation.

[2022-04-19 23:54] dannymandel opened #150 "Support for cached geohash and elevation values"
For cesium to properly support elevation values, we need to have a geohash and an elevation value.  This will require changes in a number of places.   Initial outline is as follows:

(2) After things ingest, have the elevate JS tool do a query for geohashes that aren't present in the things table, and insert them if they aren't present
(3) At solr index time, consult the points table which will ha

[2022-04-20 11:42] #142 closed, assigned to datadavev

[2022-04-20 12:03] datadavev commented on #150
On further research, we can gain some benefit by switching the geohash algorithm for H3[^1]. The hexagonal geometry provides a number of benefits such as good tools in multiple languages for computing basic geometry operations such as returning hashes within a distance of a hash, computing hashes within a region, etc.

No changes are required other than using the h3 hash algorithm instead of the g

[2022-04-29 17:10] dannymandel opened #154 "Strange date showing up in the UI"
During today's technical call, we had a strange issue where an incorrect date was showing up.  The main cause is that we are using the wrong field in the UI -- we are showing the date the Thing was created in the database, rather than the date that the sample was collected.  I'll write up a separate issue for that, but here are the details for what we saw today:

https://hyde.cyverse.org/isamples_

[2022-04-29 17:16] dannymandel commented on #154
UI fix: https://github.com/isamplesorg/isamples_webui/issues/62

[2022-04-29 17:16] dannymandel commented on #154
And I should look at the code that assigns the `tcreated` date to see if we may improve it.

[2022-06-01 16:35] dannymandel opened #162 "cesium height values not present in iSC instances"
Per discussion with @qgan7125:

It returns the empty result.

[2022-06-03 16:37] datadavev opened #163 "Authenticate a command line client using ORCID"
The goal here is to allow access to an endpoint on the fastAPI service to trusted users only.

We would like to use ORCID as the identify provider.

The user will use credentials provided from ORCID when calling fastAPI to assert their identity. FastAPI will verify the credentials, probably by calling ORCID to verify the token is valid.

Reference:
* https://oauth.net/2/
* https://aaronparecki.com

[2022-06-03 16:57] dannymandel commented on #163
~~This looks like something that might work for our API requests: https://developer.okta.com/blog/2018/07/16/oauth-2-command-line~~ -- on further reading it is interesting but probably not the right way to do this

[2022-06-03 17:26] dannymandel commented on #163
There are some good diagrams of the overall flow here: https://developer.okta.com/blog/2019/08/22/okta-authjs-pkce

[2022-06-03 17:45] dannymandel commented on #163
Though maybe, now that I think about it, the script that will be minting identifiers *could* start up a local web server.  Might be worth prototyping.  We'd definitely need to go the PKCE route there, though, as we wouldn't want our private keys embedded anywhere.

[2022-06-03 17:59] datadavev commented on #163
I believe we are looking at the 3-legged flow. https://info.orcid.org/documentation/integration-and-api-faq/#easy-faq-2537

The workflow might be something like this:
![workflow](http://www.plantuml.com/plantuml/svg/bP91Q_Cm38Rl_XKwfj2czqA-hxJReNIii7NGMp6sceebTd7K5VRhPmKJ4k-qIx2iHw_yAbfth0FVsqPfmpx0HuT1tU8L6Rffnq3lcqbyUDlkdfIgAjW4_uWqL9MIAbZy4tW5DVBHVw8hPYh6i8Ztabz1G4i13OCFXcpfGxtq-ixNfNnye6yiJ4Fe

[2022-06-03 20:06] dannymandel commented on #163
I can start working on making the changes to validate the token in the identifier minting code.

[2022-06-07 22:00] dannymandel commented on #162
Got an email from the folks at Cesium that said this:

[2022-06-07 22:15] dannymandel commented on #162
Looks like something has gone haywire in the Cesium API invocation:

[code]

[2022-06-08 00:38] dannymandel commented on #162
The Cesium API changed and caused us to infinitely loop while asking for the data.

[2022-06-15 00:09] dannymandel commented on #162
Back to the original problem…

Here's an example record `(ark:/28722/k2vd6tz9m)` that appears to have location data but no height:

http://localhost:8984/solr/#/isb_core_records/query?q=id:%22ark:%2F28722%2Fk2vd6tz9m%22&q.op=OR&indent=true

[2022-06-15 00:11] dannymandel commented on #162
And here's one (`ark:/28722/k29g5md2x`) that has h3 and height, as well as location data:

http://localhost:8984/solr/#/isb_core_records/query?q=id:%22ark:%2F28722%2Fk29g5md2x%22&q.op=OR&indent=true

[2022-06-15 00:19] dannymandel commented on #162
In fact, if I examine the h3 value in the database for that first one:

[code]

And then do a solr query based on that h3 value:

[code]

I get 3040 results.  And I can see that at least some of them have heights in the records.  If I select that Point from our Point cache, I can see that there is a height populated there:

[code]

So there's something about the solr script that is assigning the h

[2022-06-15 00:20] qgan7125 commented on #162
`isamples_central` of  `mars` and `hyde` servers still don't have `producedBy_samplingSite_location_cesium_height`. I tried to use different `start` and `row`. The endpoints always return empty results.

ex.
https://hyde.cyverse.org/isamples_central/thing/stream?rows=100&fl=producedBy_samplingSite_location_cesium_h3

https://mars.cyverse.org/isamples_central/thing/stream?rows=1001&start=10000&fl=p

[2022-06-15 00:26] dannymandel commented on #162
If you include a filter with records that contain the value, you'll definitely get stuff back (see slack for more details)

e.g.

https://hyde.cyverse.org/isamples_central/thing/stream?rows=1000&start=100000&q=producedBy_samplingSite_location_cesium_height%3A*&fl=producedBy_samplingSite_location_cesium_height,id

[2022-06-15 00:28] dannymandel commented on #162
Even stranger, if I query for all of the records with that particular h3 value:

[code]

And I search for the record with the missing elevation value (`ark:/28722/k2vd6tz9m`), I actually see it show up in the list of ids with that elevation value.  But if I query the record directly by its id, I don't see `producedBy_samplingSite_location_cesium_height` or `producedBy_samplingSite_location_h3` in

[2022-06-15 00:31] dannymandel commented on #162
Actually, I see a problem -- the ones with `h3` and `height` populated somehow have that n2t.net prefix still in their records, e.g.

[code]

I thought we had purged all of those records but I guess some of them are still lying around.

[2022-06-15 00:36] dannymandel commented on #162
Good news, they aren't in the db:

[code]

Bad news, there are some in solr (http://localhost:8984/solr/#/isb_core_records/query?q=id:*n2t.net*&q.op=OR&indent=true&fl=id,producedBy_samplingSite_location_h3,producedBy_samplingSite_location_cesium_height&rows=3100):

[code]

[2022-06-15 16:56] hyunssong opened #168 "Metadata enhancement using classifiers"
To use the classifiers that are trained to fill in the blanks of the dataset,

For the existing source dataset:
1. Run the classifiers on it through hpc. The source dataset will contain text fields that will be used as input to the model.
2. The model classification result (id, predicted label and its probability) on each record will be sent to @dannymandel and these results will be added to the `

[2022-06-15 17:03] dannymandel opened #169 "Wrong cesium height values for GEOME records"
@qgan7125 reports that we are seeing incorrect height values for GEOME records.  The following two GEOME records appear in the sky (but should be on the ground):

[code]

And the following two Smithsonian records appear correctly:

[code]

This Smithsonian and this GEOME record should appear in the same place:

[code]

[2022-06-15 17:12] dannymandel commented on #169
The GEOME implementation had a typo:

[code]

[2022-07-19 15:45] datadavev opened #187 "Support different record views using Content Negotiation by Profile"
ISamples supports two fundamentally different views of each record: the original as retrieved from the source and the record as transformed ti the isamples model.

An emerging standard mechanism for requesting different views of the same resource is described in the W3C draft standard: "[Content Negotiation by Profile](https://www.w3.org/TR/dx-prof-conneg/)" specification.

iSamples in a box shoul

[2022-07-19 21:33] dannymandel commented on #187
For the original record, do we have a URI for the profile?  In the spec it indicates that every profile should have a URI associated with it.  We clearly have one for iSamples (the one you mentioned up above), but I think we are supposed to include a header that indicates it's in the original profile if we are to be fully conforming to the spec.

[2022-07-20 11:31] datadavev commented on #187
Good point. Technically we should use a URI that references a concept like "this is the unadulterated source of the record" defined in some published ontology. For now, let's use `https://w3id.org/isample/source_record` though this will likely be replaced with some existing definition when we find it.

[2022-07-27 17:13] datadavev opened #192 "Related record query support"
Records may have relationships between them, and so can form a graph structure, with nodes being the individual records and edges being the relations. The basic structure is:

[code]

Simple example with two types of relationship `subsample-of` and `analysis-of`, i.e. `aa` is a subsample of `a`, and `baa` is an analysis of `ba` which was subsampled from `b`:
![image](https://user-images.githubuser

[2022-07-27 17:21] dannymandel commented on #192
It seems like the nested document searching could be powerful, but given that we want to model non parent-child relationships I don't think it would be appropriate.

[2022-07-27 17:27] datadavev commented on #192
Here's the beginnings of  notebook for working with this: https://gist.github.com/f806944ed20686d6036205f5aafb0a12

[2022-07-27 17:50] datadavev commented on #192
In solr, it seems that the term "parent" is any record that contains a nested document, and a "child" is any nested document, so in out case a solr parent is any record that contains one or more relation sub-documents. So, I think the nested doc searches are still useful, but the notion of parent/child is not the same as the notion of parent/child (sample / sub-sample) in the sample records.

[2022-07-27 20:02] dannymandel commented on #192
Yeah, I should have said "we can't use them for searching relationship hierarchies", which is what I meant.

[2022-07-27 20:12] dannymandel commented on #192
Going to paste the queries in here as I work through them:

[2022-07-27 20:13] dannymandel commented on #192
http://localhost:8984/solr/isb_core_records/select?q.op=OR&q=relation_type%3A*&fl=id:relation_target,relation:relation_type

[2022-07-27 20:16] dannymandel commented on #192
http://localhost:8984/solr/isb_core_records/select?q.op=OR&q=relation_type%3A*&fl=id:_nest_parent_

[2022-07-27 20:20] dannymandel commented on #192
a. all records that have had an analysis performed on them, (aa, ba)

Will do this but with "all records that have a subsample taken from them"

http://localhost:8984/solr/isb_core_records/select?q.op=OR&q=relation_type%3Asubsample&fl=id:relation_target

[2022-07-27 20:21] dannymandel commented on #192
b. all records that are the result of an analysis (aaa, baa)

Will do this but with "all records that are the result of a subsample"

http://localhost:8984/solr/isb_core_records/select?q.op=OR&q=relation_type%3Asubsample&fl=id:_nest_parent_

[2022-07-28 00:10] dannymandel commented on #192
This one is giving me fits:

As it involves a combination of a graph query and nested documents, and our nested document structure doesn't match our regular document structure, which doesn't seem to play well with graph queries.  Full discussion in Slack: https://isamples.slack.com/archives/C03EN5ZPUKG/p1658964826872429?thread_ts=1658942104.176039&cid=C03EN5ZPUKG

[2022-07-29 21:27] datadavev opened #193 "Add permit_id as a core model property"
One or more permits are often associated with collection of physical samples, and there is a need to ensure that information is available with the sample records.

Task here is to add support for a multi-valued field to store permit ids with sample records. This should be a string field (i.e. not tokenized) with the assumption of storing some sort of identifier. In practice, it is likely values in

[2022-07-29 21:29] datadavev commented on #193
Example spreadsheet with permit info provided by John in GDrive at: https://drive.google.com/drive/u/0/folders/1cIPzlGILRqG3Ip9477bsfJclCDpY1rVR

[2022-08-02 21:58] dannymandel commented on #192
@datadavev ended up getting the graph queries working on a simple example (https://gist.github.com/datadavev/f806944ed20686d6036205f5aafb0a12), and I was able to adapt it to our isb_core_records collection on mars.  So, returning to the previously scheduled programming…

[code]

That filters for records that are a target of a relationship that have a `label` field equal to `PI56`.  This should wor

[2022-08-02 22:18] dannymandel commented on #192
I think this might only work if the `eq` filter grabs a record that is in the first batch of results returned by the `search` stream.  I've now populated all the relationships and it is no longer returning anything.

[2022-08-02 23:06] dannymandel commented on #192
Tried rewriting this as an intersection query:

[code]

Seems to have the same problem, though.  If we don't fetch them all, we won't necessarily get any results.  If we do fetch them all, we end up with a timeout.

[2022-08-03 17:42] dannymandel commented on #192
OK, here's the pattern for this:

[code]
(That works with the large-ish dataset of ~200k relations with the full record set ~6million)

[2022-08-03 17:57] dannymandel commented on #192
(Should note that that will return the subsample documents, not the relationship target -- but it is a good starting point).

[2022-08-03 18:11] datadavev commented on #192
I think that can also be written as:
[code]

[2022-08-03 18:15] dannymandel commented on #192
I think this one:

Just ends up being a generalization of the previous one, e.g.

[code]

~~The key is the `isb_core_id:*` bit -- that just has to match the non-relation documents.  So, we should plug in any field that matches the parent (in solr terms -- the actual records, not the child relation documents) documents and we should be good there.~~

~~I think we can further constrain by relation t

[2022-08-03 18:35] dannymandel commented on #192
Think I was wrong on the transitive one, I think this will do it:

[code]

Yields

[code]

[2022-08-04 15:19] datadavev commented on #192
How to facet with nested docs. This lists the distinct values of `relation_type` and their counts by `source`:
[code]
[code]

[2022-08-04 15:32] datadavev commented on #192
It can be done the other way around too, with `source` at the top level. The `json.facet` looks like:
[code]

With the result:
[code]

[2022-08-05 15:18] datadavev commented on #192
One query I'm having trouble with:

Documents that have no relations.

Seems like it should be trivial, but...

[2022-08-05 15:45] datadavev commented on #193
After further discussion with Neil, it seems there's a need for two properties: `complies_with`, and `authorized_by`.

[2022-08-05 21:56] dannymandel commented on #192
A couple things that came up in the Friday discussion this morning:

Two more queries to investigate:

* Documents that have no relations (as @datadavev mentioned above)
* The number of total unique graphs -- and the roots of those graphs

Then, on discussion of the SESAR records, there are actually two more relationship types that aren't really subsamples.  If the parent SESAR record has a sample

[2022-08-09 15:36] datadavev commented on #193
Initial content will be added to GEOME records in the `permitInformation` field with the recommendation to use a structured format like:
[code]

Where:
* COMPLIESn is a pointer to the associated compliance documentation, ideally in the form of one or more URIs.
* AUTHORIZEDn is a pointer to the associated permit(s) authorizing the activity, ideally in the form of one or more URIs.

[2022-08-09 15:44] #108 closed, assigned to dannymandel

[2022-08-10 21:47] dannymandel opened #196 "JWT/DOI and friends are broken on mars"
In chatting with @qgan7125 today, he reported that he couldn't get the JWT info or add DOIs.  I investigated and found that we'd never configured the orcids for the mars instance.  I pushed the config and restarted the server, but unfortunately the issue persisted.  Opening this for investigation.

[code]

I attempted to fix this with https://github.com/isamplesorg/isamples_docker/pull/34 but it c

[2022-08-10 22:18] dannymandel commented on #196
I forgot to make a new tag before deploying so the old config was still there.  Creating a new tag fixed the issue.

[2022-08-10 22:18] #196 closed, assigned to dannymandel

[2022-08-11 00:17] dannymandel commented on #192
One other thing we discussed last week that I forgot to write down -- we want the iSamples record detail page to have something about the relations on the page itself.  Maybe for a parent the number of children, while a child should have a direct link to the parent.

[2022-08-16 15:16] datadavev opened #198 "Experimental: Implement a minimal Git backed, iSB harvestable record source."
There is a need for a simple system to support field data collection in an offline-first system that enables content creation and editing with no Internet connection, but is able to seamlessly participate in the iSamples network when a network connection becomes available.

This experiment will leverage CSV for file storage, git for revision control, GitHub for serving static content, and if neces

[2022-08-16 16:18] dannymandel commented on #198
Presumably the identifiers would be allocated via datacite before they went to do fieldwork?

[2022-08-16 16:34] datadavev commented on #198
Yep, that would be best, though field work is typically a messy business. Another option may be to have the first part of the identifier available and unique to the sheet, and each row incrementing a suffix as needed. Then each record has a unique identifier but isn't registered until the sheet is committed. I'm not sure which is best from the user perspective.

[2022-08-16 16:36] dannymandel commented on #198
I think it will be less problematic overall to make registering N drafts a requirement before beginning the process.

On the one hand, it makes more work up front but on the other it is going to save user headaches down the road by us not having to anticipate every manual algorithm someone could come up with.

[2022-08-16 16:48] datadavev commented on #198
Yep, that will definitely be less problematic for processing. We may need to adjust after some folks try the approach in the field though. Hard to say without testing where flexibility might be useful - so we can certainly go with the pre-registered approach first.

[2022-08-16 17:44] dannymandel commented on #198
re: the UI and everything -- I did that work a while back to write an ansible script that set up a Multipass Linux VM that in theory could run Docker in the field.  I don't remember where I left it, but in theory it *could* run the whole thing.

[2022-08-30 16:08] dannymandel opened #200 "Implement has_material_categories for GEOME"
For GEOMETransformer, the implementation of `has_material_categories` should be roughly like follows:

[code]

For GEOMEChildTransformer, presumably this information should be read off the parent record, but that's something to confirm.

[2022-08-31 23:51] dannymandel opened #205 "Once we get rid of fasttext undo hacks required to get tests running on GitHub"
Once we get rid of fasttext, undo this PR: https://github.com/isamplesorg/isamples_inabox/pull/204

[2022-09-08 01:01] smrgeoinfo commented on #193
looks like the permitInformation is concatenated in the description field.  Is it important enough to add in a separate field on SamplingEvent or on Site?

[2022-09-08 11:30] datadavev commented on #193
This was an early suggestion as there was a single field in GEOME for capturing permitInformation. GEOME is being updated to provide different fields for cultural and legal references, and I believe each will be multi-valued.

Having multiple fields for this info makes it much simpler for everyone.

[2022-09-08 14:05] smrgeoinfo commented on #193
see issue in metadata repo [metadata/#102](https://github.com/isamplesorg/metadata/issues/102)

[2022-09-14 17:07] dannymandel opened #215 "Integrate new metadata models"
We need to integrate the new metadata models that @hyunssong has been developing.  There will be multiple parts to this work.

[2022-09-14 17:10] dannymandel commented on #215
### iSB Repo
We need to incorporate the models into the iSB repo.  The current Smithsonian implementation should provide a general idea for how we want to incorporate the models.  We should create a new python module that will serve as a façade around each model.  The existing work lives in `isamplesfasttext.py`.  I suggest we make a new single module with multiple classes inside of it, one class

[2022-09-14 17:49] dannymandel commented on #215
### iSamples Docker Repo
The iSamples Docker repo will need to do two things with the models:
(1) Incorporate the config values into the container (I think this will be easy because they should mostly be static)
(2) Copy the model files into the container (should also be easy)

In looking at what we did for fasttext, there is a static version of the config file `isamples_metadata.env` that has thi

[2022-09-14 18:13] dannymandel commented on #215
### iSamples Ansible Repo

The Ansible portion of the changes should be pretty straightforward (I think).  Right now, the Ansible script just:

1.  ssh's to the target machine
2. checks out the specified git tag
3. executes the Docker build (via a systemd wrapper)

Ideally we'd want to just insert a new step 2.5 that copied the models from a known location on the filesystem (maybe `/isamples/` or

[2022-09-27 17:10] dannymandel commented on #215
At our morning meeting today, we discussed adding a unit test to exercise the code around the models.  As part of the work that @hyunssong has already done in #217, there's a test script under `scripts/taxonomy/classification.py`.  We should do roughly the same thing as what's that's already doing, but unit in a unit test so it can be part of our CI pipeline.

What I'm thinking is something simila

[2022-11-08 19:10] dannymandel opened #232 "Upgrade mypy to current version"
In https://github.com/isamplesorg/isamples_inabox/pull/231/files we hardcoded a known good mypy version, as things changed in the latest release and we started failing.  We should do the work to update to the latest mypy and upgrade the source base to pass out of the box with the latest mypy.

[2022-11-15 15:37] #232 closed, assigned to dannymandel

[2022-11-18 16:15] datadavev opened #235 "Add solr fields for different H3 resolutions"
It would be beneficial to rapidly compute the spatial distribution of records at different resolutions. This could be used for example, to augment the spatial display in the UI which is currently very slow when viewing broad regions (since it is dependent on streaming individual records) and limited to a reasonable number (e.g. 50k) records in a view.

A spatial distribution / heatmap can be very

[2022-11-19 11:54] datadavev commented on #235
So... I got myself confused between geohash and h3 hashes. With a geohash the shorter string approach works, but that is not the case for h3 hashes. Instead it is necessary to compute the h3 value at the desired resolutions. It's a simple correction, but means the copyfield approach won't work. I'll take the changes thus far and refactor for computing the hash values.

[2022-11-30 18:47] datadavev opened #237 "API endpoint for h3 match counting"
We need an API that can return the number of documents given one or more H3 values.

Something like:

[code]
The returned dict has keys of the provided h3 values, and values being the number of documents that match the query `q` and the h3 value.

Note that it will be necessary to compute the appropriate h3 field by getting the resolution of each h3 value (https://uber.github.io/h3-py/api_referenc

[2022-11-30 20:01] datadavev commented on #237
For a single resolution, we can use result grouping. e.g., given two resolution=1 H3s:
[code]

request:
[code]
response:
[code]

[2022-11-30 20:26] datadavev commented on #237
Does not appear that multiple resolutions can be handled without at least one query per resolution.

I'm changing the requirements to supporting a set of H3 values at the same resolution rather than mixed resolutions..

[2022-11-30 20:34] datadavev commented on #237
The above can also be done perhaps more efficiently by faceting:
[code]

[2022-11-30 20:40] datadavev commented on #237
Counts can be made for multiple resolutions in a single request, however the number of facets in the response can be quite large, depending on the resolutions requested. For two at res=1 and two at res=3:
[code]

[2022-11-30 23:39] datadavev commented on #237
Streaming expressions seem to offer the best solution, e.g. two res=1, seven res=3:
[code]
`http://localhost:8984/solr/isb_core_records/stream?expr=list...` result:
[code]